html {
    height: 100%;
  }


body {
    margin:0;
    padding:0;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(#ffffff, #0833a2);
    background-attachment: fixed; /* Fondo fijado */
 }


.main-container{
	width: 700px;
	margin: 2% auto 0 5%;
	max-width: 800px;
	padding: 30px;
	border: 2px solid #ccc;
	border-radius: 10px;
	border-style: groove;
	position: relative;
	opacity: 85%;
	order: 2;
	float: left;
}

 .menu-container{
 	width: 300px; /* Ancho del menú */
	margin: 2% 5% 0 auto;
	max-width: 300px;
	padding: 30px;
	border: 2px solid #ccc;
	border-radius: 10px;
	border-style: groove;
	position: relative;
	opacity: 85%;
	order: 3;
	float: right;
 }

.page-container{
	width: 300px;
	margin: 2% 5% 0 auto;
	max-width: 300px;
	padding: 30px;
	border: 2px solid #ccc;
	border-radius: 10px;
	border-style: groove;
	position: relative;
	opacity: 85%;
	order: 3;
	float: right;
}
 .menu-box{
 	float: right;
 	width: 300px;
 	background: rgba(0, 0, 0, 0.445);
 	box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border-style: groove;
 }

 .main-box{
 	height: 400px;
 	height: auto;
 	background: rgba(0, 0, 0, 0.445);
 	box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border-style: groove;
 }

.title-box, .main-title-box, .page-title-box, .main-item-box{
	margin: 2px;
	border-radius: 10px;
    border-style: groove;
    text-align: center;
}

.main-title, .menu-title{
	color: #fff; /* Color del texto */
    background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
	padding:10px;
	margin: 0;
	border-radius: 10px;
}

.order-item{
	width: 45%;
	margin: 2px;
	padding: 10px;
	border-radius: 10px;
	border-style: groove;
}

.item-box{
	margin: 2px;
	padding:10px;
	border-radius: 10px;
	border-style: groove;
}

.item-list{
	list-style: none; /* Sin viñetas */
    padding: 0; /* Sin espaciado interno */
    margin: 0; /* Sin margen externo */
}

.item-list > li{
	border-radius: 10px;
	border-style: groove;
	position: relative;
}

.item-list > li > a {
	color: white;
	padding: 5px;
	display: block;
	text-decoration: none;
	background:333;
	border-bottom: 1px solid #444;
	text-align: center;
	font-size: 20px;
	border-radius: 10px;
	border-style: groove;
}

.item-list > li > a:hover{
	border-radius: 10px;
	color: white;
	background: #000;
}

ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
	border-radius: 10px;
}

.submenu{
	display: none;
	position: absolute;
	right: 100%;
	top: 0;
	width: 200px;
	background: #666;
	border-radius: 10px;
	border-style: groove;
}

.submenu > li > a{
	color: white;
	padding: 10px;
	display: block;
	text-decoration: none;
}

.submenu > li > a:hover{
	border-radius: 10px;
	background-color: #555;
}

.item-list > li:hover > .submenu{
	display: block;
}




/* Para hacer tu sitio web responsivo */
@media (max-width: 768px) {
  /* Estilos para tablets y dispositivos móviles */
  .menu-container, .main-container, .page-container {
    width: 90%;
    float: center;
  }
  .menu-box, .title-box, .item-box {
    width: 90%; /* O los estilos que necesites para adaptar tu menú */
    float:center;
  }
}

@media (max-width: 480px) {
  /* Estilos para teléfonos móviles */
  .menu-container, .main-container, .page-container{
    width: 100%;
    float: center;
  }
  .menu-box, .title-box, .item-box {
  	width: 100%;
  	float: center;
  }
}