 html {
    height: 100%;
  }
  body {
    margin:0;
    padding:0;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(#ffffff, #0833a2);
    }
    body img{
      height: 100%;
      width: 100%;
      margin: 0px;
    }
  
  .login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-60%, -60%);
    background: rgba(0, 0, 0, 0.445);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
 .bad {
   text-align: center;
   width: 100%;
   padding: 12px;
   background: #a22;
   color: #fff;
 }
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #f76700;
    font-size: 12px;
  }
  
  .login-box form button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    background: linear-gradient(#00000075, #002fff7c);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .login-box button:hover {
    background: #0a94d4;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px #0380f4,
                0 0 25px #0e0bbd,
                0 0 50px #000000fb,
                0 0 100px #000000;
  }
  
  .login-box button  {
    position: absolute;
    display: block;
  }
  footer{
    position: relative;
    display: block;
    background-color: #222;
    padding: 1rem;
    color: #fff;
    margin-top: -5px;
  }
  footer section{
    margin: 0px;
    float: right;
    background-color: #222;
  }
  footer p{
    margin: 0;
  }
  footer a{
    transition: color 0.3s ease ;
    color: #fff;
    text-decoration: none;}
  footer a:hover {
   color: cornflowerblue;
  }
  
  
 

  
  

  